.panel.panel-default
  .panel-heading
    %h4 Edit product
  .panel-body
    .row
      .col-md-2.col-sm-2
        = render 'form'
    .row
      .col-md-2.col-sm-2
        = link_to 'Show', category_product_path(category, product), class: 'btn btn-default btn-xs'
        \|
        = link_to 'Back', category_path(category), class: 'btn btn-default btn-xs'
